@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat, arial, verdana;
    user-select: none;
    overflow-x: hidden;
}