#mainNav .navbar-brand {
  color: #fff;
  font-weight: 600;
  font-size: 3ex;
}

#mainNav .navbar-nav li.nav-item a.nav-link,
#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active,
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #FFFF8D;
}